.underline, .bb {
  border-bottom: 1px solid #eeeeee;
}

.bt {
  border-top: 1px solid #eeeeee;
}

.bl {
  border-left: 1px solid #eeeeee;
}

.br {
  border-right: 1px solid #eeeeee;
}

.b0 {
  border-width: 0;
}

.ba {
  border: 1px solid #eeeeee;
}

.border {
  border: 1px solid #eeeeee;
}